.App{
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: cursive;
 border: 3px solid #bbb;
 width: 50%;
 position: relative;
 left: 20%;
 margin: 5rem;
 background: #fff;
 border-radius: 20px;
 box-shadow: 10px 20px 20px #ccc;
}

.coin img{
  width: 200px;
  height: 200px;
}

.btn{
  font-size: 1.4rem;
  margin: 20px;
  position: relative;
  left: 20%;
  min-width: 10rem;
  font-family: cursive;
  border: 2px solid #aaa;
  outline: none;
  cursor: pointer;
  background: lightgreen;
}